[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
djangorestframework = "*"
# On macOS, install might fail unless you run the following:
# export LDFLAGS="-L/usr/local/opt/openssl/lib
psycopg2 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
